.section{
    font-size: 6em;
    text-align: center;
}

.section .slide {
	font-size: 3em;
    text-align: center;
}

/*cloud image continious loop*/
.tech-slideshow {
  height: 360px;
  max-width: relative;
  margin: 0 auto;
  margin-bottom: -19rem;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 500px;
  width: 2526px;
  background: url(cloud.png);
  position: absolute;
  top: relative;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 300s linear infinite;
}
.tech-slideshow .mover-2 {
  opacity: -1;
  transition: opacity 0.5s ease-out;
  background-position: 0 -100px;
  animation: moveSlideshow 100s linear infinite;
}


@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}

.backimg{ 
    /* The image used */
    background-image: url("highway.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/*multiplejs code here*/
.container{
	margin-left: 20%;
	margin-right: 20%;
}
.content{
	display: flex;
}
.content1, .content4, .content7, .content10{
	border: 1px solid #404040;
	height: 200px;
	flex: 4;
	margin: 5px;


}
.content2, .content3, .content5, .content12{
	border: 1px solid #404040;
	height: 200px;
	flex: 3;
	margin: 5px;
}

.content6, .content8, .content9, .content11{
	border: 1px solid #404040;
	height: 200px;
	flex: 2;
	margin: 5px;
}


/*typedjs CSS*/
.bigautotype{
  font-family: sans-serif;
  font-size: 7rem;
  color: white;
}
.typedcontainer{
  margin-left: -10px;
}
}

#typed-string{
margin-left: -10px;
 }

 /*slide p tag sizing etc*/
 .slide p {
  padding: 50px;
  font-size: 40px;
  font-family: sans-serif;

 }
 .slide1{
  background-color: #0798ec;
 }
 .slide2{
  background-color: #fc6c7c;
 }
 .slide3{
  background-color: #fec401;
 }
 .slide3 p{
  color: #424141;
  font-size: 35px;
  border: 1px bold black;
  margin: 10px;
  padding: 10px;

 }
 .slide3 .moreabt{
  font-size: 50px;
  color: black;

 }
 .innerspace{
  margin: 100px;
 }


 /*section2*/
 .section2{
  background-color:#ff5f45;
 }