/*font import*/
@import url('https://fonts.googleapis.com/css?family=Lato');

body{
  margin: 0;
  padding: 0;
}



/*cloud image continious loop*/
.tech-slideshow {
  height: 360px;
  max-width: relative;
  margin: 0 auto;
  margin-bottom: -28rem;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 500px;
  width: 2526px;
  background: url(cloud.png);
  position: absolute;
  top: relative;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 90s linear infinite;
}
.tech-slideshow .mover-2 {
  opacity: -1;
  transitionnsition: opacity 0.5s ease-out;
  background-position: 0 -100px;
  animation: moveSlideshow 100s linear infinite;
}


@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}







                                                    .backimg{ 
                                                        /* The image used */
                                                        background-image: url("bird-s-eye-view-boats-bridge-1039302.jpg");

                                                        /* Full height */
                                                        height: 100%; 

                                                        /* Center and scale the image nicely */
                                                        background-position: center;
                                                        background-repeat: no-repeat;
                                                        background-size: cover;
                                                    }






#impression h1{
  margin-top: -80px;
  font-family: 'Lato';
  font-size: 8rem;
  color: white;
  text-align: center;
  color: #fcfcfc;
  }

#impression p{
  font-family: 'Lato';
  font-size: 2rem;
  color: white;
  text-align: center;
  color: #fcfcfc;

}



 /*fp-control arrow*/
 .fp-controlArrow{
 border-color: #ff000000 #343a4038 !important;
}




/*SECTOIN 1 2 & 3*/


/*section two stuff here*/
.section2{
  background-color: #FAFAFA;
  text-align: center;
}
.sec2p{
  margin-right: 20px;
  font-size: 18px;
  margin-top: -130px;
  padding-right: 100px;
}



/*section 2 stuff ends here*/



/*section three stuff here*/
.section3{
  background-color: #EDEDED;

}

.sec3h{
  margin-top: -150px;
  padding-bottom: 10px;

}

.sec3p p{
  font-size: 18px;
  padding-bottom: 50px;
  padding-right: 100px;

}

.sec3p ul li{
  font-size: 15px;

}
/*sec three stuff ends*/



/*formcontainer*/
.formcontainer{
  padding: 50px
}






/*section 5*/

.section5{
  background-color: #3B3B3B;
  height: 100px;
}